@model ItrKurs.Models.Collection
@{
    ViewBag.Title = "Добавление коллекции";
}
    <a class="btn btn-success" asp-controller="Book" asp-action="CreateCollection">Добавить book коллекцию</a>
    <a class="btn btn-success" asp-controller="Anime" asp-action="CreateCollection">Добавить anime коллекцию</a>
    <a class="btn btn-success" asp-controller="Car" asp-action="CreateCollection">Добавить Car коллекцию</a>