@model ItrKurs.Models.Collection
@{
    ViewBag.Title = "Delete item";
}

<div>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Возраст</dt>
        <dd>
            @Html.DisplayFor(model => model.Discriminator)
        </dd>
    </dl>

    <div>
        <form asp-controller="Collection" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>